{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'css/app.6135c337.css' %">
    <style>
        .verify-container {
            max-width: 800px;
            box-shadow: 0 3px 8px hsl(232, 100%, 6%, 0.125);
            color: hsl(240, 3%, 12%);
            padding: 32px;
            margin: 48px auto;
            text-align: center;
            border-radius: 24px;
            border-top: 4px solid hsl(227, 69%, 47%);
        }

        .verify-container__link {
            text-decoration: none;
        }

        .verify-container__link:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>

    <div class="verify-container">
        <img src="../svg-icons/bx-check-circle.svg" />
        <h1>تم تفعيل الحساب بنجاح</h1>
        <a href="http://localhost:8080" class="verify-container__link">الرجوع إلى الصفحة الرئيسية</a>
    </div>
    
</body>
</html>